*.gem
*.rbc
.dat*
.repl_history
.ruby-gemset
.ruby-version
.rvmrc
.vagrant/
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
Gemfile.lock
build/
